TOKEN=TOOKEN

REVENUE_CHAT_ID=-1

ADMIN_ID=TG_ID

REDIS_HOST=REDIS_HOST

DB_USER=DB_USER
DB_PASS=DB_PASS
DB_NAME=DB_NAME
DB_HOST=DB_HOST
DB_PORT=DP_PORT

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_ROOT_USER
POSTGRES_PASSWORD=DB_ROOT_PASS
PGPASSWORD=DB_ROOT_PASS

DAYS_FOR_FINANCES_CHECK=INTEGER